bundle.js
pnpm-lock.yaml
node_modules
package-lock.json
*.tgz
dist
.env
.env.*
!.env.example
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
dump.sql
*.xz
migrations
proxy.ts
erd.txt
knexfile.ts
knex.ts
erd.txt
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
db.ts
server.ts
